sandbox/projects/appex/src/resources/entities/catalog-demo/catalog-demo-v10.dtd

<!--
This is the Document Type Definition for the Apache Cocoon sample
demonstration "catalog-demo" which explains entity resolution
using catalogs. See the Apache Cocoon documentation
"Entity resolution with catalogs" (catalog.html).

Version 1.0 2001-08-09
-->

<!ELEMENT catalog-demo (section+)>
<!ELEMENT link (#PCDATA)>
<!ATTLIST link href CDATA #IMPLIED>
<!ELEMENT para (#PCDATA | link)*>
<!ELEMENT section (para+)>
